extends layout

block content
  .content-container(role="main")
    .container
      .row-fluid
        .hero-unit.advisory-detail
          .span8
            .advisory-title
              h1= advisory.meta.title
            i.icon-calendar
            | #{advisory.meta.publish_date}
            if advisory.meta.cves
              .advisory-author
                each cve in advisory.meta.cves
                  .i.icon-tag
                  |  <a href="#{cve.link}">#{cve.name}</a>&nbsp;
                #{advisory.meta.cve} 
            .advisory-author
              i.icon-user
              | &nbsp;Credit: #{advisory.meta.author}
             

          .span4.advisory-right
            .module-name
              a(href='https://npmjs.org/package/#{advisory.meta.module_name}')
                |#{advisory.module_name}
            .module-version Vulnerable: #{advisory.meta.vulnerable_versions}
            .module-version Patched: #{advisory.meta.patched_versions}
          .clearfix

          .advisory-description
            != advisory.html

          #disqus_thread
            script(type="text/javascript").
              var disqus_shortname = 'nodesecurity';
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
