extends layout


block content
  .content-container(role="main")
    .container
      - each year in Object.keys(index).sort().reverse()
        h2= year
        ul.nav
          each advisory in index[year]
            li.advisory.row-fluid
              .span9.advisory-left
                div.advisory-title: a(href='/advisories/#{advisory.meta.url}') #{advisory.meta.title}
                div.advisory-date
                  i.icon-calendar
                  | #{advisory.meta.publish_date}
              .span3.advisory-right
                div.module-name: a(href='/package/#{advisory.meta.module_name}') #{advisory.meta.module_name}
                div.module-version Vulnerable: #{advisory.meta.vulnerable_versions}
                div.module-version Patched: #{advisory.meta.patched_versions}



