extends layout

block content
  .container(role='main')
    ul.nav
      each advisory in index
        li.advisory
          .advisory-left
            div.advisory-title: a(href='/advisories/#{advisory.url}') #{advisory.title}
            div.advisory-date
              i.icon-calendar
              | #{advisory.publish_date}
          .advisory-right
            div.module-name: a(href='/package/#{advisory.module_name}') #{advisory.module_name}
            div.module-version Vulnerable: #{advisory.vulnerable_versions}
            div.module-version Patched: #{advisory.patched_versions}



